{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 52.49527118751944,
    "longitude": 13.285174369812013,
    "elevation": 0,
    "unit_system": "metric",
    "location_name": "Greenhome_Halenseestraße 2",
    "time_zone": "Europe/Berlin",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR"
  }
}